<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音乐库</title>
  <link rel="stylesheet" href="/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/css/indexStyle.css">
</head>
<body>
    <div class="index-container">
      <div class="index-left">
        <div class="index-left-body">
          <div class="index-title">
              <span>
                  Music
              </span>
          </div>
          <div class="index-userDetail">
              <div class="index-userDetail-left">
                  <img src="/picture/face1.jpg" alt="">
              </div>
              <div class="index-userDetail-right">
                  <div class="detail">
                      <p class="username">admin</p>
                      <p class="role">admin</p>
                  </div>
                  <div class="aboutAccount"></div>
              </div>
          </div>
          <div class="nav-title">
              <span>
                  navigation
              </span>
          </div>
          <div class="index-navigation">
              <ul class="nav">
                  <li class="nav-item menu-items">
                      <a class="nav-link" href="#">
                          <span class="menu-icon">
                            <i class="mdi mdi-database"></i>
                          </span>
                          <span class="menu-title">音乐库</span>
                      </a>
                  </li>
                  <li class="nav-item menu-items">
                      <a class="nav-link" href="#">
                          <span class="menu-icon">
                            <i class="mdi mdi-pinterest"></i>
                          </span>
                          <span class="menu-title">音乐试听</span>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="index-right"></div>
    </div>
</body>
</html>